

<h1>Campus do Laboratório Nacional de Engenharia Civil (LNEC)</h1>

O 17CNG e o 10CLBG vão decorrer em formato virtual (online), emitido a partir do centro de congressos do Campus do LNEC.

<h2> Localização do LNEC</h2>

<div style="width: 98%"><iframe width="98%" height="600" src="https://maps.google.com/maps?width=98%&amp;height=600&amp;hl=en&amp;q=Avenida%20do%20Brasil%20101%2C%20LNEC-DG+(LNEC)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/map-my-route/">Create a route on google maps</a></iframe></div><br />
<div class="imagetext">    </div>


<h2> Centro de congressos do LNEC - Edifício Manuel Rocha</h2>


<div class="imagetext">
    <img src="{{ site.baseurl }}/images/venue/centro_cong_LNEC.jpg" style="width:70%;"  alt="Campus LNEC"/>
</div>


<h2> Planta 3D do centro de congressos do LNEC</h2>

<div class="imagetext">
    <img src="{{ site.baseurl }}/images/venue/planta_3dnewsala.png" style="width:70%;"  alt="Planta 3D salas conferência"/>
</div>


<h2> Planta do piso 0 do Edifício Manuel Rocha</h2>

<div class="imagetext">
    <img src="{{ site.baseurl }}/images/venue/planta_ManuelRocha.png" style="width:80%;"  alt="Planta piso 0"/>
</div>

