<div class="container">
    <div class="row">
        <div class="d-flex justify-content-left">
            <div class="col-lg-8">
                <h2><img src="{{ site.baseurl }}/images/sponsors/Logo_EDP.png" alt="" style="height:80px"/></h2>
                <div id="Container1"
                     style="padding-bottom:50%; position:relative; display:block; width: 100%">
                    <iframe id="ViostreamIframe1" width="100%" height="100%"
                            src="https://ricardosgeral.github.io/lnec_mrzpn/" allowfullscreen=""
                            style="position:absolute; top:0; left: 0; border-radius: 10px; border-width:0"></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="d-flex justify-content-left">
            <div class="col-sm-5">
                <h2><img src="{{ site.baseurl }}/images/sponsors/Logo_Elsamex-Portugal.jpg" alt="" style="height:80px"/></h2>
                <div id="Container12"
                     style="padding-bottom:70%; position:relative; display:block; width: 95%">
                    <iframe id="ViostreamIframe12" width="100%" height="100%"
                            src="https://ricardosgeral.github.io/lnec_mrzpn/" allowfullscreen=""
                            style="position:absolute; top:0; left: 0; border-radius: 10px; border-width:0"></iframe>
                </div>
            </div>
            <div class="col-sm-3">
                <h2><img src="{{ site.baseurl }}/images/sponsors/Logo_BIANCHINI.png" alt="" style="height:80px"/></h2>
                <div id="Container3"
                     style="padding-bottom:70%; position:relative; display:block; width: 95%">
                    <iframe id="ViostreamIframe3" width="100%" height="100%"
                            src="https://ricardosgeral.github.io/lnec_mrzpn/" allowfullscreen=""
                            style="position:absolute; top:0; left: 0; border-radius: 10px; border-width:0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>